MySQL/#innodb_temp/
MySQL/ibtmp1
*.ibtmp1
.ibt
MySQL/ibdata1
MySQL/ib_logfile0
MySQL/ib_logfile0
MySQL/auto.cnf
MySQL/binlog.000015
MySQL/binlog.index
MySQL/ib_logfile0
MySQL/mysql.ibd
MySQL/undo_002
